* {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 500;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: rgb(32, 21, 11);
    color: #e1cab4;
}

html {
    scroll-behavior: smooth;
}