* {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 500;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: rgb(32, 21, 11);
    color: #e1cab4;
}

html {
    scroll-behavior: smooth;
}

.main {
    display: flex;
    justify-content: center;
    padding: 0;
    flex-direction: column;
}

.title-container {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 20px 0 10px 0;
      margin-top: 40px;
      font-size: 18px;
      scroll-margin-top: 60px;
  }

.about-tittle,
.menu-tittle,
.where-title,
.offer-title {
      background: rgb(20, 13, 6);
      color: rgb(240, 230, 210);
      width: 200px;
      text-align: center;
      border-radius: 14px;
      padding: 6px;
  }