---
import MainLayout from "../layouts/MainLayout.astro";
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro'
---

<MainLayout title="Book in Furina de Fontaine">
  <Navigation />
  <section class="booking-container">
    <h1>Book your place</h1>
    <p>Reserve your seat at our coffee shop</p>

  </section>

  <Footer />
</MainLayout>

<style>
  .booking-container {
    padding: 100px 10px;
    text-align: center;
    min-height: 70vh;
  }

  h1 {
    color:white;
    font-size: 50px;
  }

  .booking-container p {
    font-size: 20px
  }

</style>
