---
import MainLayout from "../layouts/MainLayout.astro";
import Navigation from "../components/Navigation.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import Menu from "../components/Menu.astro";
import Location from "../components/Location.astro";
import Invitation from "../components/Invitation.astro";
---

<MainLayout>
  <header>
    <Navigation />
    <Hero />
  </header>

  <main class="main">

    <section id="about">
      <About />
    </section>

    <section id="menu">
      <Menu />
    </section>

    <section id="location"> 
      <Location />
    </section>

    <section id="invitation">
      <Invitation />
    </section>
  </main>
</MainLayout>
