---
import { Image } from 'astro:assets';
import InviteImg from '../assets/InviteImg.png';
---


<div id="inv" class="title-container">
  <div class="offer-title">VISIT US</div>
</div>

<div class="inv-container">
  <div class="inv-img">
    <Image src={InviteImg} alt="A tasty coffee with a delicous cake on a table" />
  </div>
  <div class="inv-text-container">
    <div class="inv-text">
      <p>Lights on, coffee ready. <br /> We're waiting for you</p>
      <a href={import.meta.env.BASE_URL + "/booking"}>Book now</a>
    </div>
  </div>
</div>

<style>
  .offer-title {
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .inv-container {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    width: 100%;
    max-width: 1800px;
    flex-shrink: 0;
    margin: auto;
    box-shadow: 0 3px 13px 1px rgba(0, 0, 0, 0.4);
    margin-bottom: 80px;
  }

  .inv-img {
    flex: 1.4;
    height: 500px;
  }

  .inv-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.5);
    object-position: center;
  }

  .inv-text-container {
    display: flex;
    justify-content: center;
    margin: auto;
    flex: 1;
  }

  .inv-text {
    padding: 20px;
    font-size: 25px;
    line-height: 1.7;
  }

  .inv-text a {
    background-color: rgb(40, 28, 15);
    color: white;
    font-size: 23px;
    border: none;
    border-radius: 14px;
    width: 300px;
    height: 50px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 50px;
    text-decoration: none;
  }

  .inv-text a:hover {
    background-color: rgb(98, 76, 54);
    transition: ease 0.4s;
  }

  @media (max-width: 1024px) {
    .offer-gallery img {
      width: 140px;
      height: 150px;
      margin-bottom: 20px;
      padding: 10px;
    }
  }

  @media (max-width: 768px) {
    .inv-container {
      flex-direction: column;
    }

    .inv-img img {
      height: 300px;
      width: 100%;
    }

    .inv-img {
      width: 100%;
    }

    .inv-text {
      font-size: 22px;
      text-align: center;
    }

    .inv-text a {
      font-size: 22px;
    }
  }

  @media (max-width: 470px) {
    .inv-text a {
      width: 200px;
      font-size: 16px;
    }

    .inv-text {
      font-size: 18px;
    }
  }
</style>
