---
import "../styles/global.css";
import cafeIcon from "../assets/icon.ico";
---

<!DOCTYPE html>
<head>
  <html lang="es">
    <title>Furina de Fontaine</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="src/style.css" />
    <link rel="icon" href={cafeIcon} />
    <meta
      name="description"
      content="Experience the finest specialty coffee beans, ethically sourced and roasted to perfection. Visit us for a unique brew or order your favorite blend online."
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&display=swap"
      rel="stylesheet"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Playfair+Display:ital@0;1&display=swap"
      rel="stylesheet"
    />
</head>
<body>
    <slot />
</body>
</html>
